/* ===================
Base Styles
=================== */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(85, 81, 81);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

/* ===================
Header
=================== */

header {
    background-image: url("images/cover-sm-op.png");
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    color: #635959;
    display: flex;
    flex-direction: column;
   align-items: center;
}
.logo {
    width: 175px;
    margin: 15px;
}

/* ===================
Search-select and Text Block
=================== */
.search-bar, .txt-background {
    height: 20vh;
    width: 100%;
    background-color: #f8f5f0;
}
.txt-background{
   display: flex;
   justify-content: right;
}
.search-background, .txt-bg-color{
    height: 75%;
    width: 80%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.search-background {
    background-color:#D6BCAE;
    border-radius: 0 100px 100px 0px;
}
.txt-bg-color{
    background-color: #b7c8ed;
    border-radius: 100px 0px 0px 100px;
    color: white;
}
.txt-bg-color h3 {
    width: 85%;
    align-self: center;
    font-size: 18px;
    margin-left: 10%;
}
.search-div{
    align-self: center;
    width: 60%;
}
select{
    margin-bottom: 15px;
    border-radius: 5px;
    border:  solid 1px rgb(214, 209, 209);
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    height: 50px;
    width:100%;
}
select::placeholder{
    color:rgb(167, 164, 164);
}
.select-container select {
    background: transparent;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    appearance: none;
    padding: 5px;
    text-indent: 10px;
    border: none;
  }
  
.select-container {
    background: url("images/svgs/Arrow.svg") no-repeat right #ffffff;
    background-size: 40px;
    border:  solid 1px rgb(214, 209, 209);
    background-color:rgb(245, 245, 247);
    border-radius: 7px;
    width: 80%;
    height: 50px;
    overflow: hidden;
    align-self: center;
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55 ); 
}
.select-container:hover{
    transform: scale(1.2);
}

/* ===================
Slider
=================== */

.slider-background{
    background-color: #2F5056;
    height: 500px;
    width: 100%;
}
.background-text {
    margin-left: 25%;
    margin-top: 35px;
    text-align: center;
    color: white;
    width: 50%;
}
.slide-container{
    max-width: 1120px;
    width: 90%;
    padding: 40px 0;
    transform: translateY(30px);
}
.slide-content{
    margin: 0 40px 40px 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
   border-radius: 25px;
   background-color: #fff; 
}
.image-content, 
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;  
}
.card-content{
    margin-top: 10px;
    text-align: center;
    width: 80%;
    margin-left: 30px;
    height: 210px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: #EAE2D9;
    border-radius: 7px 7px 0px 25px;
}
.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color:#EAE2D9;
}
.overlay::after {
    border-radius: 0 25px 0 0;
    background-color:#fff;

}
.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    background: #2F5056;
    padding: 3px;
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55 ); 
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 4px solid #FFF;
}
.card-image:hover{
    transform: scale(1.2);
}
.name {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}
p.description {
    font-size: 14px;
    text-align: center;
}
.button {
    position: absolute;
    bottom: 0;
}
.button, .btn-more {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #c68549;
    border-radius: 6px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55 ); 
}
.button a {
    text-decoration: none;
    color: #fff;
}
.button:hover, .btn-more:hover {
    background-color: #c36628;
    transform: scale(1.2);
}
.swiper-navBtn{
    color: #c68549;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #c36628;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
}
.swiper-button-next {
    right:0;
}
.swiper-button-prev {
    left:0;
}
.swiper-pagination-bullet {
    background-color: #6393f7;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

/* ===================
Mini About Section
=================== */
.mini-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 100px;
    background-color: #f0f4f2;
}
.mini-img-content{
    width: 70%;
    margin-bottom: 5%;
}
.mini-about img {
    width: 100%;
   height: 100%;
    border-radius: 25px;
}
.mini-about-content {
    position:relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 70%;
    height: 250px;
    text-align: center;
    background-color: #EAE2D9;
    border-radius: 25px;
}
.mini-about-content p {
    width: 80%;
    align-self: center;
    font-size: 12px;
}
.mini-about-content h4 {
    padding-top: 15px;
    font-size: 15px;
    width: 90%;
    align-self: center;
}
.btn-more{
    position: absolute;
    bottom: 0;
    width: 50%;
    align-self: center;
}
.btn-more a{
    text-decoration: none;
    color: white;
}

/* ===================
Footer
=================== */
footer {
    width:100vw;
    background-color: #EAE2D9;
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
}
footer img{
    width: 40px;
    align-self: center;
    margin: 5px 0 10px 0;
}
footer h4 {
    padding-bottom: 4px;
}
.social a, .contact a {
    text-decoration: none;
    color: rgb(85, 81, 81);
}
.social ul {
    display: none;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}
.social ul li {
    align-self: center;
}
.social a:hover, .contact a:hover {
    text-decoration: underline;
}
.contact, .social, .location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 5px 40px;
    text-align: center;
}
.location {
    display: none;
}
.contact p, .location p{
    display: none;
}

/* ===================
About Page
=================== */

.about-bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #EAE2D9;
}
.bio-img img {
    width: 100%;
    border-radius: 300px 300px 0px 0px
}
.bio-txt, .bio-img {
    width: 60%;
    text-align: center;
    margin: 20px;
}
.bio-txt {
    border-radius: 35px 0px;
    background-color:#c68549;;
    padding: 20px;
    color: #fff;
    width: 80%;
}
.bio-txt ul {
    text-align: left;
}
.bio-txt ul a {
    color:white;
}
/* ===================
Contact Page
=================== */

form {
    background-color: #eceff4;
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-info{
    width: 80%;
    margin: 30px;
    padding: 15px;
    background-color:#D6BCAE;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-div {
    align-self: center;
}
.form-desc{
    color: white;
    text-align: center;
}
.social-sec{
    padding: 20px;
    background-color: #c68549;
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-links{
    display: flex;
    justify-content: center;
    width: 100%;
}
.social-links a img {
    width: 75px;
    padding: 10px;
    margin: 10px;
    background-color:#d7ddec;
    border-radius: 25px;
    align-self: center;
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55 ); 
}
.social-links a img:hover {
    transform: scale(1.2);
}

/* Contact Page Modal */

/* =========================
Overlay
===========================*/
div.hidden {
    display: none;
}
div.overlay-parent {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.overlay-contact {
    position: absolute;
    z-index: 2;
    width: 60%;
    height: fit-content;
    top: 10%;
    left: 20%;
    background-color: #fff;
    border-radius: 7px 40px;
    border: 2px solid rgb(165 173 238);
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    width: 200px;
    border-radius: 50%;
    padding: 20px;

}
.modal-content {
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#modal-close {
    padding-left: 78%;
    margin-top: 10px;
    font-size: 18px;
    color:rgb(85, 82, 82);
    transition: all .5s cubic-bezier(.62,-0.19,.25,1.3);
    border: none;
    background-color: #fff;
}
#modal-close:hover {
   font-size: 21px;
   color:rgb(165, 161, 161);
   cursor: pointer;
}
.overlay-txt {
   width: 80%;
}
.overlay-txt div {
    border-bottom: 1.5px solid rgb(221, 220, 220);
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.overlay-txt p, .overlay-txt h2 {
    margin: 8px;
    text-align: center;
}
.overlay-txt p{
    font-size: 10px;
}
.overlay-txt h2{
    font-size: 19px;
}

/* ===================
Media Queries
=================== */

@media screen and (min-width: 386px){
    .mini-about{
        padding-top: 200px;
    }
    .social-links {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .slide-content{
        margin:0 10px;
    }
    .swiper-navBtn {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    header {
        background-image: url("images/cover-lg-op.png");
        height: 500px;
    }
    .txt-bg-color h3 {
        width: 60%;
        font-size: 25px;
    }
    .mini-about{
        flex-direction: row;
        align-items:initial;
    }
    .mini-img-content{
        margin-right: 5%;
        margin-bottom: 0;
        width: 35%;
    }
    .mini-about-content p {
        font-size: 11px;
    }
    .mini-about-content{
        width: 35%;
        height: initial;
    }
    .about-bio{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .bio-txt, .bio-img {
        width: 40%;
    }
    .bio-txt{
        transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55 ); 
    }
    .bio-txt:hover{
        transform: scale(1.2);
    }
    .contact, .social, .location {
        width: 33%;
    }
    .location {
        display: flex;
        color: rgb(85, 81, 81);
    }
    .contact p, .location p{
        display: block;
    }
    .social a {
        text-decoration: none;
        color: rgb(85, 81, 81);
    }
    .social ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        align-items: center;
        padding-left: 0;
    }
    .social ul li {
        align-self: center;
    }
    .social ul li:hover {
        text-decoration: underline;
    }
    .form-info {
        width: 50%;
    }
    .modal-close {
        padding-left: 88%;
    }
    .overlay-contact{
        width: 45%;
        top: 12%;
        left: 25%;
    }
    .overlay-contact .avatar {
        width: 200px;
    }
    .overlay-txt {
        width: 70%;
     }
    .overlay-txt p{
        font-size: 17px;
    }
    .overlay-txt h2{
        font-size: 22px;
    }
}
@media screen and (min-width: 1024px) {
    .select-container{
        width: 60%;
    }
    .mini-about-content p {
        font-size: 18px;
    }
    .mini-about-content h4 {
        font-size: 20px;
    }
    .social ul {
        flex-direction: row;
    }
    .social ul li {
        padding: 8px;
    }
}

@media screen and (min-width: 1200px) {

    .mini-about-content h4 {
        padding-top: 20px;
        font-size: 28px;
    }
    .mini-about-content p {
        font-size: 22px;
        margin-top: 5%;
    }
    .overlay-contact{
        width: 30%;
        left: 35%;
    }
}