body {
    font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rgb(85, 81, 81);
}
.carousel {
    width: 60%;
    height: 40%;
    margin-left: 20%;
}
.carousel-inner {
    padding: 10px;
    text-align: center;
    border: 3px solid rgb(91, 83, 83);
    border-radius: 0 20px;
    background-color: rgb(245, 241, 241);
}
h4 {
    padding-top: 25px;
}
.carousel-background {
    background-color:rgb(170, 139, 149);
}

@media screen and (min-width: 768px) {
    .carousel {
        width: 30%;
        height: 40%;
        margin-left: 35%;
    }
}

@media screen and (min-width: 1024px) {

}